.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  position: absolute;
  margin: 8px 0px -8px 0px;
  height: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.App-title {
  margin: 0px 0px 0px 30px;
}

.Home-title {
  margin-left: 40%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.ProductListContainer{
  background: url(http://1.bp.blogspot.com/-xVFo0jd4EEU/VIdXwv6FyEI/AAAAAAAAaUQ/OMyI1T4tMJ8/s1600/fundo.png) repeat; 
  overflow:auto; 
  border: 1px solid #dbdbdb;  
  border-radius: 4px;
  padding: 15px; 
  width: 37%; 
  height: 550px; 
  text-align: justify; 
}

.Product-img {
  width: 30px!important;
  height: 30px!important;
  border-radius: 100px;
  margin: 0px 36px -36px 0px;
}

.Product-presentation {
  height: 36px;
  width: 100%;
  padding: 3px 0px 3px 0px;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: -1px;
}

.Product-info {
  margin-left: 36px;
}

.Product-actions {
  width: 60%;
  margin: -550px 0px 0px 40%;
  /* height: 300px; */
}

.Product-data {
  width: 60%;
  height: 550px;
  margin-left: 40%;
  padding: 15px 0px 5px 0px;
}

.Product-dimensions {
  margin-left: 7px;
  margin-right: 10px;
}

.img-swap {
  border-radius: 0px!important;
  border: 4px solid #ebbb73;
  box-shadow: none;
  outline: solid 13px rgba(255, 255, 255, .5);
  outline-offset: -13px;border-radius: 10px;
  -webkit-mask-image: url(http://3.bp.blogspot.com/-ICF4hr8P0oM/Uq2jIQKpsqI/AAAAAAAAQZw/a0iOpNKti18/s200/Sem+t%C3%ADtulo.png);
  -webkit-transition-duration: .60s;
  }
  .img-swap:hover {
  border: 4px solid #76c2af;
  opacity: 0.70;
  outline-offset: -5px;
  outline: 0px dashed #738494;
  border-radius: 1px;
  box-shadow: 0px 0px 3px #c8d5e0;
  -webkit-mask-image: url(https://4.bp.blogspot.com/-UmQqKvepbyM/VzYN7AR864I/AAAAAAAAtP0/0X78T9cH6jQLMLztz14_yuEfNamNIIWXQCLcB/s1600/mask3.png);
  -webkit-transition-duration: .60s;
  }